# Environment variables and local dev config (secrets)
config/.env
.env
configuration/config.env

# Build artifacts
bin/
tmp/

**/mocks/
src/internal/handler/mocks/
src/internal/service/mocks/
src/internal/repository/mocks/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db